<!-- end /. navbar -->
<!-- start hero header (classic) -->

<!-- end /. hero header (classic) -->
<!-- start categories -->

<div *ngIf="global.allLoaded" class="bg-dark overflow-hidden position-relative py-5 text-white">
    <div class="container pb-4">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-7">
                <!-- start section header -->
                <div class="section-header text-center mb-5" data-aos="fade-down">

                    <div
                        class="d-inline-block font-caveat fs-1 fw-medium section-header__subtitle text-capitalize text-primary">
                        Especialidades</div>

                    <h2 class="display-5 fw-semibold mb-3 section-header__title text-capitalize">Tu médico a la mano
                    </h2>
                    <!-- end /. title -->
                    <!-- start description -->
                    <div class="sub-title fs-16">Explora las especialidades médicas y encuentra el cuidado que necesitas
                        en cualquier parte del mundo. <span class="text-primary fw-semibold">Selecciona tu área de
                            interés para comenzar tu búsqueda</span></div>
                    <!-- end /. description -->
                </div>
                <!-- end /. section header -->
            </div>
        </div>
        <!-- <div class="items-carousel owl-carousel owl-theme owl-nav-center">
            <div class="bg-white border-0 card card-hover-bg flex-fill overflow-hidden rounded-4 card-width"
                *ngFor="let specialty of global.specialties">
                <div
                    class="align-items-center bg-blur border-0 card-hover d-flex flex-fill flex-wrap p-3 p-sm-3 rounded-4 shadow-sm w-100">
                    <div class="flex-shrink-0">
                        <div
                            class="align-items-center bg-dark category-icon-box d-flex fs-4 justify-content-center rounded-3 text-primary">
                            <i class="fa-solid fa-building-user"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2 ms-md-3">
                        <h3 class="fs-19 fw-semibold mb-1"><a href="#">{{specialty.name}}</a></h3>
                        <p class="mb-0 small">99+</p>
                    </div>
                    <a href="#" class="align-items-center d-flex fw-semibold gap-2 link-hover">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="swiper-container row g-2 g-sm-4">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg-white rounded-4 d-flex justify-content-center align-items-center"
                style="cursor: pointer; width: 250px;"
                *ngFor="let specialty of global.specialties;let i = index">
               <div class="align-items-center bg-blur border-0 card-hover d-flex flex-fill flex-column p-3 p-sm-3 rounded-4 shadow-sm w-100">
                   <div class="d-flex justify-content-center">
                       <div class="align-items-center bg-dark category-icon-box d-flex fs-4 justify-content-center rounded-3 text-primary">
                           <i class="fa-solid fa-building-user"></i>
                       </div>
                   </div>
                   <div class="flex-grow-1 ms-2 ms-md-3 text-center">
                       <h3 class="fs-19 fw-semibold mb-1"><a class="text-dark">{{specialty.name}}</a></h3>
                       <p class="mb-0 small">99+</p>
                   </div>
                   <div class="d-flex justify-content-center">
                       <a href="#" class="align-items-center d-flex fw-semibold gap-2 link-hover">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                               <path fill-rule="evenodd"
                                     d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                               </path>
                           </svg>
                       </a>
                   </div>
               </div>
           </div>
           
            </div>
        </div>

    </div>
</div>
<!-- end /. categories -->
<!-- start process -->
<div class="py-3 py-xl-5 bg-gradient" *ngIf="global.allLoaded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-7">
                <!-- start section header -->
                <div class="section-header text-center mb-5" data-aos="fade-down">

                    <div
                        class="d-inline-block font-caveat fs-1 fw-medium section-header__subtitle text-capitalize text-primary">
                        Especialistas destacados</div>

                    <h2 class="display-5 fw-semibold mb-3 section-header__title text-capitalize">Comprometidos 100% con
                        el bienestar.</h2>

                    <div class="sub-title fs-16">Encuentra los especialistas <span class="text-primary fw-semibold"> con
                            mayor calificación de nuestra plataforma. </span></div>
                    <!-- end /. description -->
                </div>
                <!-- end /. section header -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let specialist of global.specialistsUnlimited"
                        [hidden]="specialist.status!='approved'" >
                        <div class="card rounded-3 w-100 flex-fill overflow-hidden">
                            <div class="card-img-wrap card-image-hover overflow-hidden">
                                <img src="{{specialist.images[0]}}" alt="" class="img-fluid">
                                <div class="bg-primary card-badge d-inline-block text-white position-absolute">
                                    Verificado
                                </div>
                                <div class="d-flex end-0 gap-2 me-3 mt-3 position-absolute top-0 z-1">
                                    <a href="allspeciality.html"
                                        class="btn-icon shadow-sm d-flex align-items-center justify-content-center text-info bg-light rounded-circle"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Verificado">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-column h-100 position-relative p-3">
                                <div
                                    class="align-items-center bg-primary cat-icon d-flex justify-content-center position-absolute rounded-circle text-white">
                                    <i class="fa-solid fa-person-circle-plus"></i>
                                </div>
                                <h5>{{specialist.full_name}}</h5>
                                <div class="align-items-center d-flex flex-wrap gap-1 text-primary card-start mb-1">
                                    <i class="fa-solid fa-star text-warning"></i>
                                    <span class="fw-medium text-primary">
                                        <span class="fs-6 fw-semibold me-1">(4.5)</span>2 reviews</span>
                                </div>
                                <p class="mb-0 small">{{specialist.services}}</p>
                                <h4 class="fs-18 fw-semibold mb-0" *ngFor="let specialty of specialist.specialties">
                                    {{specialty.name}}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        class="bi bi-patch-check-fill text-info" viewBox="0 0 16 16">
                                        <path
                                            d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                                    </svg>
                                </h4>
                                <a href="#" class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9b9b9b"
                                        class="bi bi-compass" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                        <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
                                    </svg>
                                    <span>{{specialist.address}}</span>
                                </a>
                                <!-- <a href="#" class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                            <span>$</span> 200COP
                        </a> -->
                                <div class="d-flex flex-wrap gap-3 mt-2 z-1">
                                    <a class="d-flex gap-2 align-items-center fs-13 fw-semibold" (click)="viewDetail(specialist)">
                                        <button type="submit" class="btn btn-perfil btn-lg w-100" style="
                                --bs-btn-bg: #fff;">Detalles</button>
                                    </a>
                                    <a href="#" class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                        <button type="submit" class="btn btn-agenda btn-lg w-100">Agendar</button>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<div class="py-5 bg-primary position-relative overflow-hidden text-dark bg-primary bg-size-contain home-about js-bg-image"
    data-image-src="assets/camiwa/images/lines.svg">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10 col-lg-8 col-xl-7">
                    <!-- start section header -->
                    <div class="section-header text-center mb-5" data-aos="fade-down">
                        <!-- start subtitle -->
                        <div class="d-inline-block font-caveat fs-1 fw-medium section-header__subtitle text-capitalize"
                            style="color: #fff;">Promociones</div>
                        <!-- end /. subtitle -->

                        <!-- start description -->
                        <div class="sub-title fs-16" style="color: #fff;">Descubra ofertas en <span class="fw-semibold"
                                style="color: #fff;"> Salud y bienestar.</span></div>
                        <!-- end /. description -->
                    </div>
                    <!-- end /. section header -->
                </div>
            </div>
        </div>
        <!-- start place carousel -->
        <div class="owl-carousel owl-theme place-carousel owl-nav-center" data-aos="fade-left">
            <!-- start region card -->
            <div class="region-card rounded-4 overflow-hidden position-relative text-white">
                <div class="region-card-image">
                    <img src="assets/camiwa/images/locations/01.jpg" alt="Image" class="h-100 object-fit-cover w-100">
                </div>
                <div class="region-card-content d-flex flex-column h-100 position-absolute start-0 top-0 w-100">
                    <div class="region-card-info">
                        <h4 class="font-caveat mb-0">Titulo</h4>
                        <h3 class="h2">Categoria</h3>
                        <span>Precio</span>
                    </div>
                    <a href=""
                        class="align-items-center d-flex fw-semibold justify-content-between mt-auto region-card-link">
                        <div class="fs-12 region-card-link-text text-uppercase text-white">Solicitar</div>
                        <div
                            class="align-items-center bg-blur text-white btn-icon-md d-flex end-0 justify-content-center rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end /. region card -->
            <!-- start region card -->
            <div class="region-card rounded-4 overflow-hidden position-relative text-white">
                <div class="region-card-image">
                    <img src="assets/camiwa/images/locations/01.jpg" alt="Image" class="h-100 object-fit-cover w-100">
                </div>
                <div class="region-card-content d-flex flex-column h-100 position-absolute start-0 top-0 w-100">
                    <div class="region-card-info">
                        <h4 class="font-caveat mb-0">Titulo</h4>
                        <h3 class="h2">Categoria</h3>
                        <span>Precio</span>
                    </div>
                    <a href=""
                        class="align-items-center d-flex fw-semibold justify-content-between mt-auto region-card-link">
                        <div class="fs-12 region-card-link-text text-uppercase text-white">Solicitar</div>
                        <div
                            class="align-items-center bg-blur text-white btn-icon-md d-flex end-0 justify-content-center rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end /. region card -->
            <!-- start region card -->
            <div class="region-card rounded-4 overflow-hidden position-relative text-white">
                <div class="region-card-image">
                    <img src="assets/camiwa/images/locations/01.jpg" alt="Image" class="h-100 object-fit-cover w-100">
                </div>
                <div class="region-card-content d-flex flex-column h-100 position-absolute start-0 top-0 w-100">
                    <div class="region-card-info">
                        <h4 class="font-caveat mb-0">Titulo</h4>
                        <h3 class="h2">Categoria</h3>
                        <span>Precio</span>
                    </div>
                    <a href=""
                        class="align-items-center d-flex fw-semibold justify-content-between mt-auto region-card-link">
                        <div class="fs-12 region-card-link-text text-uppercase text-white">Solicitar</div>
                        <div
                            class="align-items-center bg-blur text-white btn-icon-md d-flex end-0 justify-content-center rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end /. region card -->
            <!-- start region card -->
            <div class="region-card rounded-4 overflow-hidden position-relative text-white">
                <div class="region-card-image">
                    <img src="assets/camiwa/images/locations/01.jpg" alt="Image" class="h-100 object-fit-cover w-100">
                </div>
                <div class="region-card-content d-flex flex-column h-100 position-absolute start-0 top-0 w-100">
                    <div class="region-card-info">
                        <h4 class="font-caveat mb-0">Titulo</h4>
                        <h3 class="h2">Categoria</h3>
                        <span>Precio</span>
                    </div>
                    <a href=""
                        class="align-items-center d-flex fw-semibold justify-content-between mt-auto region-card-link">
                        <div class="fs-12 region-card-link-text text-uppercase text-white">Solicitar</div>
                        <div
                            class="align-items-center bg-blur text-white btn-icon-md d-flex end-0 justify-content-center rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end /. region card -->
            <!-- start region card -->
            <div class="region-card rounded-4 overflow-hidden position-relative text-white">
                <div class="region-card-image">
                    <img src="assets/camiwa/images/locations/01.jpg" alt="Image" class="h-100 object-fit-cover w-100">
                </div>
                <div class="region-card-content d-flex flex-column h-100 position-absolute start-0 top-0 w-100">
                    <div class="region-card-info">
                        <h4 class="font-caveat mb-0">Titulo</h4>
                        <h3 class="h2">Categoria</h3>
                        <span>Precio</span>
                    </div>
                    <a href=""
                        class="align-items-center d-flex fw-semibold justify-content-between mt-auto region-card-link">
                        <div class="fs-12 region-card-link-text text-uppercase text-white">Solicitar</div>
                        <div
                            class="align-items-center bg-blur text-white btn-icon-md d-flex end-0 justify-content-center rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end /. region card -->
            <!-- start region card -->
            <div class="region-card rounded-4 overflow-hidden position-relative text-dark">
                <div class="region-card-image">
                    <img src="assets/camiwa/images/locations/01.jpg" alt="Image" class="h-100 object-fit-cover w-100">
                </div>
                <div class="region-card-content d-flex flex-column h-100 position-absolute start-0 top-0 w-100">
                    <div class="region-card-info">
                        <h4 class="font-caveat mb-0">Titulo</h4>
                        <h3 class="h2">Categoria</h3>
                        <span>Precio</span>
                    </div>
                    <a href=""
                        class="align-items-center d-flex fw-semibold justify-content-between mt-auto region-card-link">
                        <div class="fs-12 region-card-link-text text-uppercase text-dark">Solicitar</div>
                        <div
                            class="align-items-center bg-blur text-dark btn-icon-md d-flex end-0 justify-content-center rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z">
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- end /. region card -->
        </div>
        <!-- end /. place carousel -->
        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10 col-lg-8 col-xl-7">
                    <!-- start section header -->
                    <div class="section-header text-center mb-5" data-aos="fade-down">

                        <!-- start title -->
                        <h2 class="display-5 fw-semibold mb-3 section-header__title " style="color: #fff;">Como formar
                            parte de esta plataforma</h2>
                        <!-- end /. title -->
                        <!-- start description -->
                        <div class="sub-title fs-16" style="color: #fff;">Sigue los pasos y <span class=" fw-semibold"
                                style="color: #fff;"> llega a más personas.</span></div>
                        <!-- end /. description -->
                    </div>
                    <!-- end /. section header -->
                </div>
            </div>
            <div class="bg-no-repeat numbers-wrapper">
                <div class="row g-4">
                    <div class="col-md-4">
                        <div class="mx-xl-4 number-wrap text-center" data-aos="fade" data-aos-delay="300"
                            style="color: #fff;">
                            <div
                                class="align-items-center bg-primary d-flex font-caveat fs-1 justify-content-center mb-4 mx-auto number-circle rounded-circle text-white">
                                1</div>
                            <h4>Registrate en la plataforma.</h4>
                            <p class="fs-15 m-0 opacity-75">orem ipsum dolor sit amet, consectetur adipiscing elit.
                                Pharetra vitae quam integer semper.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mx-xl-4 number-wrap text-center second" data-aos="fade" data-aos-delay="400"
                            style="color: #fff;">
                            <div
                                class="align-items-center bg-primary d-flex font-caveat fs-1 justify-content-center mb-4 mx-auto number-circle rounded-circle text-white">
                                2</div>
                            <h4>Espera la aprobación y publica tus servicios y promociones.</h4>
                            <p class="fs-15 m-0 opacity-75">orem ipsum dolor sit amet, consectetur adipiscing elit.
                                Pharetra vitae quam integer.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mx-xl-4 number-wrap text-center" data-aos="fade" data-aos-delay="500"
                            style="color: #fff;">
                            <div
                                class="align-items-center bg-primary d-flex font-caveat fs-1 justify-content-center mb-4 mx-auto number-circle rounded-circle text-white">
                                3</div>
                            <h4>Conecta con viajeros, atienda solicitudes de consultas virtuales y presenciales.</h4>
                            <p class="fs-15 m-0 opacity-75">orem ipsum dolor sit amet, consectetur adipiscing elit.
                                Pharetra vitae quam integer aenean.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end /. video % faq section -->
<div *ngIf="global.allLoaded" class="py-5 position-relative overflow-hidden">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-7">
                <!-- start section header -->
                <div class="section-header text-center mb-5" data-aos="fade-down">
                    <!-- start subtitle -->
                    <div
                        class="d-inline-block font-caveat fs-1 fw-medium section-header__subtitle text-capitalize text-primary">
                        Nuestros últimos artículos</div>
                    <!-- end /. subtitle -->
                    <!-- start title -->
                    <h2 class="display-5 fw-semibold mb-3 section-header__title text-capitalize">Descubra nuestras
                        últimas noticias y artículos</h2>
                    <!-- end /. title -->
                    <!-- start description -->
                    <div class="sub-title fs-16">Explora artículos y novedades sobre <span
                            class="text-primary fw-semibold">Salud de Diversas Regiones.</span></div>
                    <!-- end /. description -->
                </div>
                <!-- end /. section header -->
            </div>
        </div>
        <div class="blog-carousel owl-carousel owl-theme owl-nav-bottom">
            <!-- start article -->
            <article class="card h-100 overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="#" class="h-100 position-absolute start-0 top-0 w-100 z-1" aria-label="Read more"></a>
                    <a href="#"
                        class="align-items-center bg-white btn-icon d-flex end-0 justify-content-center me-3 mt-3 position-absolute rounded-circle text-primary top-0 z-3"
                        data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later"
                        data-bs-original-title="Read later">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </a>
                    <img src="assets/camiwa/images/blog/01-lg.jpg" class="card-img-top image-zoom-hover" alt="Image">
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 mb-3">
                        <span class="fs-sm small text-muted">Fecha</span>
                        <span class="opacity-25">|</span>
                        <a class="badge border fw-semibold text-primary bg-white" href="#">Novedades</a>
                    </div>
                    <h3 class="h5 fw-semibold mb-0 post-title overflow-hidden">
                        <a href="#">Titulo</a>
                    </h3>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/camiwa/images/avatar/01.jpg" class="rounded-circle" width="48" height="48"
                                alt="Avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="#" class="d-block"><span class="fst-italic text-muted">Por</span> <span
                                    class="fw-medium">Autor</span></a>
                            <small class="text-muted">Categoria</small>
                        </div>
                    </div>
                </div>
            </article>
            <!-- end /. article -->
            <!-- start article -->
            <article class="card h-100 overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="#" class="h-100 position-absolute start-0 top-0 w-100 z-1" aria-label="Read more"></a>
                    <a href="#"
                        class="align-items-center bg-white btn-icon d-flex end-0 justify-content-center me-3 mt-3 position-absolute rounded-circle text-primary top-0 z-3"
                        data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later"
                        data-bs-original-title="Read later">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </a>
                    <img src="assets/camiwa/images/blog/01-lg.jpg" class="card-img-top image-zoom-hover" alt="Image">
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 mb-3">
                        <span class="fs-sm small text-muted">Fecha</span>
                        <span class="opacity-25">|</span>
                        <a class="badge border fw-semibold text-primary bg-white" href="#">Novedades</a>
                    </div>
                    <h3 class="h5 fw-semibold mb-0 post-title overflow-hidden">
                        <a href="#">Titulo</a>
                    </h3>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/camiwa/images/avatar/01.jpg" class="rounded-circle" width="48" height="48"
                                alt="Avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="#" class="d-block"><span class="fst-italic text-muted">Por</span> <span
                                    class="fw-medium">Autor</span></a>
                            <small class="text-muted">Categoria</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card h-100 overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="#" class="h-100 position-absolute start-0 top-0 w-100 z-1" aria-label="Read more"></a>
                    <a href="#"
                        class="align-items-center bg-white btn-icon d-flex end-0 justify-content-center me-3 mt-3 position-absolute rounded-circle text-primary top-0 z-3"
                        data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later"
                        data-bs-original-title="Read later">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </a>
                    <img src="assets/camiwa/images/blog/01-lg.jpg" class="card-img-top image-zoom-hover" alt="Image">
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 mb-3">
                        <span class="fs-sm small text-muted">Fecha</span>
                        <span class="opacity-25">|</span>
                        <a class="badge border fw-semibold text-primary bg-white" href="#">Novedades</a>
                    </div>
                    <h3 class="h5 fw-semibold mb-0 post-title overflow-hidden">
                        <a href="#">Titulo</a>
                    </h3>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/camiwa/images/avatar/01.jpg" class="rounded-circle" width="48" height="48"
                                alt="Avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="#" class="d-block"><span class="fst-italic text-muted">Por</span> <span
                                    class="fw-medium">Autor</span></a>
                            <small class="text-muted">Categoria</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card h-100 overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="#" class="h-100 position-absolute start-0 top-0 w-100 z-1" aria-label="Read more"></a>
                    <a href="#"
                        class="align-items-center bg-white btn-icon d-flex end-0 justify-content-center me-3 mt-3 position-absolute rounded-circle text-primary top-0 z-3"
                        data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later"
                        data-bs-original-title="Read later">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </a>
                    <img src="assets/camiwa/images/blog/01-lg.jpg" class="card-img-top image-zoom-hover" alt="Image">
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 mb-3">
                        <span class="fs-sm small text-muted">Fecha</span>
                        <span class="opacity-25">|</span>
                        <a class="badge border fw-semibold text-primary bg-white" href="#">Novedades</a>
                    </div>
                    <h3 class="h5 fw-semibold mb-0 post-title overflow-hidden">
                        <a href="#">Titulo</a>
                    </h3>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/camiwa/images/avatar/01.jpg" class="rounded-circle" width="48" height="48"
                                alt="Avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="#" class="d-block"><span class="fst-italic text-muted">Por</span> <span
                                    class="fw-medium">Autor</span></a>
                            <small class="text-muted">Categoria</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card h-100 overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="#" class="h-100 position-absolute start-0 top-0 w-100 z-1" aria-label="Read more"></a>
                    <a href="#"
                        class="align-items-center bg-white btn-icon d-flex end-0 justify-content-center me-3 mt-3 position-absolute rounded-circle text-primary top-0 z-3"
                        data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later"
                        data-bs-original-title="Read later">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </a>
                    <img src="assets/camiwa/images/blog/01-lg.jpg" class="card-img-top image-zoom-hover" alt="Image">
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 mb-3">
                        <span class="fs-sm small text-muted">Fecha</span>
                        <span class="opacity-25">|</span>
                        <a class="badge border fw-semibold text-primary bg-white" href="#">Novedades</a>
                    </div>
                    <h3 class="h5 fw-semibold mb-0 post-title overflow-hidden">
                        <a href="#">Titulo</a>
                    </h3>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/camiwa/images/avatar/01.jpg" class="rounded-circle" width="48" height="48"
                                alt="Avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="#" class="d-block"><span class="fst-italic text-muted">Por</span> <span
                                    class="fw-medium">Autor</span></a>
                            <small class="text-muted">Categoria</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card h-100 overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="#" class="h-100 position-absolute start-0 top-0 w-100 z-1" aria-label="Read more"></a>
                    <a href="#"
                        class="align-items-center bg-white btn-icon d-flex end-0 justify-content-center me-3 mt-3 position-absolute rounded-circle text-primary top-0 z-3"
                        data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later"
                        data-bs-original-title="Read later">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </a>
                    <img src="assets/camiwa/images/blog/01-lg.jpg" class="card-img-top image-zoom-hover" alt="Image">
                </div>
                <div class="card-body">
                    <div class="hstack gap-3 mb-3">
                        <span class="fs-sm small text-muted">Fecha</span>
                        <span class="opacity-25">|</span>
                        <a class="badge border fw-semibold text-primary bg-white" href="#">Novedades</a>
                    </div>
                    <h3 class="h5 fw-semibold mb-0 post-title overflow-hidden">
                        <a href="#">Titulo</a>
                    </h3>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/camiwa/images/avatar/01.jpg" class="rounded-circle" width="48" height="48"
                                alt="Avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="#" class="d-block"><span class="fst-italic text-muted">Por</span> <span
                                    class="fw-medium">Autor</span></a>
                            <small class="text-muted">Categoria</small>
                        </div>
                    </div>
                </div>
            </article>
            <!-- end /. article -->
        </div>
    </div>
</div>

<div *ngIf="global.allLoaded"
    class="bg-primary bg-size-contain home-about js-bg-image mx-3 position-relative pt-5 rounded-4 text-white"
    data-image-src="assets/camiwa/images/lines.svg">
    <div class="container pt-5">

    </div>
</div><div *ngIf="global.allLoaded" class="pb-5 bg-light">
    <div class="container pb-4">
        <div class="home-video mx-3 mx-sm-0">

            <div class="about-video position-relative rounded-4 overflow-hidden">

                <img src="assets/camiwa/images/about1.jpg" alt="" class="about-img js-image-parallax">
                <!-- <a class="align-items-center bg-blur d-flex justify-content-center popup-youtube position-absolute rounded-circle start-50 text-white top-50 translate-middle video-icon z-1"
                    href="https://www.youtube.com/watch?v=0O2aH4XLbto">
                    <i class="fa-solid fa-play fs-20"></i>
                </a> -->
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-4 sidebar">

                <div class="section-header mb-5" data-aos="fade-down">

                    <div
                        class="d-inline-block font-caveat fs-1 fw-medium section-header__subtitle text-capitalize text-primary">
                        FAQ</div>

                    <h2 class="display-5 fw-semibold mb-3 section-header__title text-capitalize">Preguntas Frecuentes
                    </h2>

                    <div class="sub-title fs-16">Respuestas a tus preguntas más frecuentes sobre Camiwa.</div>

<!--                     <button type="button" class="btn btn-primary mt-3">Ver seccion</button>
 -->                </div>

            </div>
            <div class="col-md-8 ps-xxl-5 content">
                <div class="accordion accordion-2" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button fs-5 px-0 py-4 text-dark fw-semibold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                ¿Qué es Camiwa y cómo funciona?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Camiwa es una plataforma que conecta a viajeros con especialistas de salud. Permite a los usuarios encontrar y reservar citas con médicos y otros profesionales de salud de manera rápida y segura. Simplemente busca el servicio que necesitas, selecciona un especialista, y reserva tu cita.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                ¿Cómo me registro en la plataforma?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Para registrarte, haz clic en el botón de registro en la página principal, proporciona tu información personal y sigue las instrucciones para crear tu cuenta.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                ¿Qué tipos de servicios de salud están disponibles en Camiwa?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Camiwa ofrece una amplia gama de servicios de salud, incluyendo consultas médicas, servicios de emergencia, telemedicina, odontología, fisioterapia, y más.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                ¿Cómo puedo contactar al soporte de Camiwa?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Puedes contactar al soporte de Camiwa a través del formulario de contacto en nuestra página web, enviando un correo electrónico a info&#64;camiwa.com, o llamando a nuestro número de atención al cliente disponible en la sección de contacto.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                ¿Cómo puedo encontrar y reservar un especialista de salud?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Ingresa a la plataforma, usa la barra de búsqueda para encontrar el tipo de especialista que necesitas, revisa las opciones disponibles, selecciona el especialista de tu preferencia y sigue las instrucciones para reservar tu cita.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                ¿Qué debo hacer si tengo un problema con mi reserva?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Si tienes algún problema con tu reserva, por favor contacta al soporte de Camiwa a través de nuestros canales de atención al cliente para recibir asistencia.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                                ¿Cómo se asegura Camiwa de la calidad de los especialistas de salud?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Todos los especialistas de salud en Camiwa son verificados rigurosamente para asegurar que cumplen con los estándares de calidad y las certificaciones necesarias en su campo.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                                ¿Cuáles son las políticas de cancelación?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Las políticas de cancelación varían según el especialista y el servicio. Puedes encontrar la política específica de cancelación en la página de reserva del especialista seleccionado.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                aria-expanded="false" aria-controls="collapseNine">
                                ¿Cómo se maneja la privacidad de mi información médica?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Camiwa utiliza tecnología de encriptación avanzada para proteger tu información personal y médica. Además, cumplimos con todas las normativas legales de protección de datos.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                aria-expanded="false" aria-controls="collapseTen">
                                ¿Puedo acceder a servicios de emergencia a través de Camiwa?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Sí, Camiwa ofrece acceso a servicios de emergencia. En caso de emergencia, usa nuestra plataforma para encontrar el servicio de emergencia más cercano y adecuado para tus necesidades.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fs-5 fw-semibold px-0 py-4 text-dark"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                aria-expanded="false" aria-controls="collapseEleven">
                                ¿Cómo puedo registrarme como especialista de salud en Camiwa?
                            </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 pb-4">
                                Visita la sección de registro para especialistas en nuestra página web, completa el formulario de registro y proporciona la documentación necesaria para verificar tus credenciales.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- end /. faq section -->