@import url("../../../assets/camiwa/css/style.css");


@import url("../../../assets/camiwa/plugins/aos/aos.min.css");
@import url("../../../assets/camiwa/plugins/bootstrap/css/bootstrap.min.css");
@import url("../../../assets/camiwa/plugins/fontawesome/css/all.min.css");
@import url("../../../assets/camiwa/plugins/OwlCarousel2/css/owl.carousel.min.css");
@import url("../../../assets/camiwa/plugins/OwlCarousel2/css/owl.theme.default.min.css");
@import url("../../../assets/camiwa/plugins/jquery-fancyfileuploader/fancy-file-uploader/fancy_fileupload.css");
@import url("../../../assets/camiwa/plugins/ion.rangeSlider/ion.rangeSlider.min.css");
@import url("../../../assets/camiwa/plugins/magnific-popup/magnific-popup.css");
@import url("../../../assets/camiwa/plugins/select2/select2.min.css");
@import url("../../../assets/camiwa/plugins/select2-bootstrap-5/select2-bootstrap-5-theme.min.css");
@import url("../../../assets/camiwa/css/style.css");

.card-image-hover::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.card-hover-bg:hover .card-image-hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}
.btn-perfil {
    color: #00a08f;
    background-color: transparent;
    border-color: #00a08f; /* Color de fondo inicial */
}

.btn-perfil:hover {
    color: white;
    background-color: #00a08f; /* Color de fondo al pasar el mouse */
}
.btn-agenda:hover  {
    background-color: transparent;
    color: #00a08f;
    border-color: #00a08f; /* Color de fondo inicial */
}

.btn-agenda{
    color: white;
    background-color: #00a08f; /* Color de fondo al pasar el mouse */
}
