
@import url("@assets/camiwa/css/style.css");
.back-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 600;  /* Similar a fw-semibold */
    cursor: pointer;
    color: inherit;    /* Hereda el color del texto del entorno */
}

.arrow-left {
    margin-right: 0.5rem; /* Espacio entre la flecha y el texto */
}

.custom-toast {
    background-color: #00a08f; /* Color de fondo personalizado */
    color: white; /* Color del texto */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 16px; /* Espaciado interno */
  }
  /* Opcional: Estilos específicos para tipos de toastr */
.custom-toast.success {
    background-color: #00a08f; /* Verde para éxito */
  }
  
  .custom-toast.error {
    background-color: #dc3545; /* Rojo para error */
  }
  
  .custom-toast.info {
    background-color: #17a2b8; /* Azul para información */
  }
  
  .custom-toast.warning {
    background-color: #ffc107; /* Amarillo para advertencia */
  }
  ::ng-deep .mat-calendar-body-cell[disabled] {
    pointer-events: none;
    background-color: rgb(255, 255, 255);
}

::ng-deep .mat-calendar-body-cell.non-working-day .mat-calendar-body-cell-content {
    background-color: rgba(255, 97, 86, 0.151); /* Ejemplo de color */
}
.icon-hover:hover {
  color: green;
}

.btn-perfil {
  color: #00a08f;
  background-color: transparent;
  border: 2px solid #00a08f;
  padding: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.btn-perfil:hover {
  color: white;
  background-color: #00a08f;
}


/* Estilo para el fondo amarillo de la fecha seleccionada */
.mat-calendar-body-selected {
  background-color: yellow !important;
  color: black !important; /* Cambia el color del texto si es necesario */
}

.mat-calendar-body-selected.mat-calendar-body-today {
  background-color: yellow !important;
}
.text-hover-green {
  color: #46667f !important;
}
.fw-link{
  color: #0090ff;
}.item-container {
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se salga del contenedor */
}

.card-img-wrap {
  position: relative; /* Necesario para posicionar los botones en relación con la imagen */
}

.buttons-container {
  display: none; /* Ocultar los botones por defecto */
  position: absolute;
  z-index: 9000;
  top: 30px; /* Ajusta la posición desde la parte superior */
  right: 10px; /* Ajusta la posición desde el lado derecho */
  gap: 10px; /* Espacio entre los botones */
}

.item-container:hover .buttons-container {
  display: flex; /* Mostrar los botones al pasar el mouse */
  flex-direction: row; /* Alinear los botones horizontalmente */
  align-items: center; /* Centrar los botones verticalmente */
}

.buttons-container button {
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  border-radius: 50%; /* Hace el botón circular */
  display: flex; /* Centra el icono dentro del botón */
  justify-content: center; /* Centra el icono horizontalmente */
  align-items: center; /* Centra el icono verticalmente */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para los botones */
  border: none; /* Eliminar bordes */
  padding: 0; /* Eliminar padding */
}

.buttons-container button i {
  font-size: 18px; /* Ajustar el tamaño del icono si es necesario */
}

.buttons-container button.btn-warning {
  color: #ffc107; /* Color del icono para el botón de advertencia */
}

.buttons-container button.btn-danger {
  color: #dc3545; /* Color del icono para el botón de eliminación */
}
